<footer class="tq-footer-v2" style="margin-top: 4rem;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 tq-footer-v2__block">
                <h3 class="tq-footer-v2__block-title">关于我们</h3>
                <p>
                    <img src="{{ 'assets/images/logo-small.png'|theme }}" class="img-fluid" style="width: 50px;" alt="">
                </p>
                <p class="text-muted">
                    甘肃天奇网络科技有限公司是一家互联网建站公司，我们致力于为政府、企业以及个人提供更好的信息化服务。
                </p>
            </div>
            <div class="col-md-4 tq-footer-v2__block">
                <h3 class="tq-footer-v2__block-title">公司动态</h3>
                <ul class="list-unstyled">
                    <li class="mb-4"><a href="#">庆祝公司成立三周年</a></li>
                    <li class="mb-4"><a href="#">2017我们继续前行</a></li>
                    <li class="mb-4"><a href="#">我们从来都没有停止过进步，2016新的开始</a></li>
                    <li class="mb-4"><a href="#">天奇用户中心正式部署使用</a></li>
                </ul>
            </div>
            <div class="col-md-4 tq-footer-v2__block">
                <h3 class="tq-footer-v2__block-title">联系我们</h3>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-weibo"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-wechat"></i></a></li>
                </ul>
                <a href="#" class="btn btn-outline-primary">联系我们</a>
            </div>
        </div>
    </div>
    <div class="tq-footer-v2__copy-right">
        <div class="container">
            <p class="text-muted mb-0">
                <i class="fa fa-copyright"></i>2017 <a href="#">天奇网络</a> 版权所有
            </p>
        </div>
    </div>
</footer>