<footer class="tq-footer" style="margin-top: 4rem">
    <div class="container tq-footer__top">
        <a href="#" class="tq-footer__logo d-block mx-auto">
            <img class="img-fluid" src="/themes/bs4/assets/images/logo-v3.png" alt="">
        </a>
        <ul class="tq-footer__social-link list-inline">
            <li class="list-inline-item"><a href="https://github.com/gansutianqi" target="_blank"><i class="fa fa-github"></i></a></li>
            <li class="list-inline-item">
                <a href="#"><i class="fa fa-weibo"></i></a>
            </li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-qq"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-wechat"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
        <div class="tq-footer__description mx-auto">
            <p class="text-center text-muted mb-0">
                服务客户，播种金钱，增加信任，稳定续收
            </p>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 tq-footer__block">
                <h3 class="tq-footer__block-title">公司动态</h3>
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="">
                        庆祝公司成立三周年
                    </a></li>
                    <li class="mb-1"><a href="">
                        2017我们继续前行
                    </a></li>
                    <li class="mb-1"><a href="">
                        我们从来都没有停止过进步，2016新的开始
                    </a></li>
                    <li class="mb-1"><a href="">
                        天奇用户中心正式部署使用
                    </a></li>
                </ul>
            </div>
            <div class="col-md-4 tq-footer__block">
                <h3 class="tq-footer__block-title">电商学院</h3>
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="">解读让朋友圈营销流水过千万的五大模式</a></li>
                    <li class="mb-1"><a href="">浅谈我国电子商务标准体系的建设</a></li>
                    <li class="mb-1"><a href="">盘点常见的电商商城平台支付方式</a></li>
                    <li class="mb-1"><a href="">B2B电子商务与供应链管理</a></li>
                </ul>
            </div>
            <div class="col-md-4 tq-footer__block">
                <h3 class="tq-footer__block-title">IT前沿</h3>
                <ul class="list-unstyled">
                    <li class="mb-1"><a href="">
                        Laravel5.5 LTS版本正式发布
                    </a></li>
                    <li class="mb-1"><a href="">
                        October CMS 正式迎来了1.0版本
                    </a></li>
                    <li class="mb-1"><a href="">
                         Bootstrap@4.0 首个beta版本正式发布
                    </a></li>
                    <li class="mb-1"><a href="">
                        Chorme 61 增加许多令人激动的更新
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tq-footer__copy-right">
        <p class="text-center mb-0 text-muted">2017 All right reserved. <a href="#" class="tq-footer__author">天奇网络</a> </p>
    </div>
</footer>