<nav class="navbar navbar-expand-md fixed-top navbar-tq-v1" id="navbar-scroll-tq">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="{{ 'assets/images/logo-v2.png'|theme }}" alt="" style="height:40px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerHeader" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerHeader">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 ">
                <li class="nav-item active">
                    <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news/posts/root">行业动态</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">电商学院</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">关于我们</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
