<div class="row mt-5">
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card--no-border box-shadow">
            <a href="/dian-shang-yun-ying">
                <img class="card-img-top" src="/themes/bs4/assets/images/solutions/solution5.jpg" alt="">
            </a>
            <div class="card-body">
                <h4 style="height:2rem;line-height: 1.5;overflow: hidden">电商运营解决方案</h4>
                <p class="card-text text-muted" style="height: 6rem;overflow: hidden;">
                    传统企业做电商,如何迈出第一步?销售难道英雄汉,为什么销量做不上去?迭代如此之快,跨境电商...
                </p>
            </div>
        </div>

    </div>

    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card--no-border box-shadow">
            <a href="/farm">
                <img class="card-img-top" src="/themes/bs4/assets/images/solutions/solution1.jpg" alt="">
            </a>
            <div class="card-body">
                <h4 style="height:2rem;line-height: 1.5;overflow: hidden">农村电子商务</h4>
                <p class="card-text text-muted" style="height: 6rem;overflow: hidden">
                    支持“自营+商家入驻模式”来迅速扩充工业和农产品品类，完美打通当下农村/城市信息壁垒痛点...
                </p>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card--no-border box-shadow">
            <a href="/wang-dian-zhuang-xiu">
                <img class="card-img-top" src="/themes/bs4/assets/images/solutions/solution2.jpg" alt="">
            </a>
            <div class="card-body">
                <h4 style="height:2rem;line-height: 1.5;overflow: hidden">网店装修</h4>
                <p class="card-text text-muted" style="height: 6rem;overflow: hidden">
                    资深实体团队,6年电商设计经验,我们能为你提供首页装修,宝贝描述,直通车主图,海报设计,店铺...
                </p>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card--no-border box-shadow">
            <a href="/o2o">
                <img class="card-img-top" src="/themes/bs4/assets/images/solutions/solution3.jpg" alt="">
            </a>
            <div class="card-body">
                <h4 style="height:2rem;line-height: 1.5;overflow: hidden">O2O营销解决方案</h4>
                <p class="card-text text-muted" style="height: 6rem;overflow: hidden">
                    为商家提供基于支付宝、微信等平台开发、运营、推广、数据分析等一系列O2O解决方案服务，加速...
                </p>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card--no-border box-shadow">
            <a href="/game">
                <img class="card-img-top" src="/themes/bs4/assets/images/solutions/solution4.jpg" alt="">
            </a>
            <div class="card-body">
                <h4 style="height:2rem;line-height: 1.5;overflow: hidden">游戏娱乐</h4>
                <p class="card-text text-muted" style="height: 6rem;overflow: hidden">
                    4039页游平台以高水准的技术团队为核心，追踪最新页游资讯，打造最好的页游攻略，提供最完善...
                </p>
            </div>
        </div>

    </div>
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card card--no-border box-shadow">
            <a href="/enterprise">
                <img class="card-img-top" src="/themes/bs4/assets/images/solutions/solution6.jpg" alt="">
            </a>
            <div class="card-body">
                <h4 style="height:2rem;line-height: 1.5;overflow: hidden">企业信息化</h4>
                <p class="card-text text-muted" style="height: 6rem;overflow: hidden">
                    帮助企业政府部门建立安全、可靠、高效的门户网站以及公众信息平台网络。我们专注于信息传播...
                </p>
            </div>
        </div>

    </div>
</div>
