/*
|--------------------------------------------------------------------------
| app
|--------------------------------------------------------------------------
|
| Created by puguohong on 09/10/2017.
|
|
*/
/*
 * variables
 **/
/*
 * utils
 **/
.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.bg-white {
  background-color: white !important; }

.bg-f7f7f7 {
  background-color: #f7f7f7 !important; }

.bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.bg-overlay, .bg-overlay1, .bg-overlay2, .bg-overlay3, .game-section-1 .item, .dsyy-section-4, .bg-overlay4 {
  position: relative;
  z-index: 1; }
  .bg-overlay:before, .bg-overlay1:before, .bg-overlay2:before, .bg-overlay3:before, .game-section-1 .item:before, .dsyy-section-4:before, .bg-overlay4:before, .bg-overlay:after, .bg-overlay1:after, .bg-overlay2:after, .bg-overlay3:after, .game-section-1 .item:after, .dsyy-section-4:after, .bg-overlay4:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; }
  .bg-overlay:after, .bg-overlay1:after, .bg-overlay2:after, .bg-overlay3:after, .game-section-1 .item:after, .dsyy-section-4:after, .bg-overlay4:after {
    background-color: rgba(0, 0, 0, 0.5) !important; }

.bg-overlay1:after {
  background-color: rgba(0, 0, 0, 0.1) !important; }

.bg-overlay2:after {
  background-color: rgba(0, 0, 0, 0.2) !important; }

.bg-overlay3:after, .game-section-1 .item:after, .dsyy-section-4:after {
  background-color: rgba(0, 0, 0, 0.3) !important; }

.bg-overlay4:after {
  background-color: rgba(0, 0, 0, 0.5) !important; }

.card--no-border {
  border: none !important;
  border-radius: 0 !important; }
  .card--no-border img.card-img-top {
    border-radius: 0 !important; }

.card-body-dark {
  background-color: #eee !important; }

body {
  font-family: "Microsoft YaHei", "Hiragino Sans GB", sans-serif, arial, Tahoma; }

.border-bottom-dark {
  border-bottom: 1px solid #e9ecef !important; }

/*
 * navbar
 **/
.navbar-tq-v1 {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.1rem;
  transition: all 1s ease 0s; }
  .navbar-tq-v1 .navbar-toggler:focus, .navbar-tq-v1 .navbar-toggler:hover {
    outline: none;
    cursor: pointer; }
  .navbar-tq-v1 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fe6441' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .navbar-tq-v1 .navbar-nav .nav-link {
    color: white; }
    .navbar-tq-v1 .navbar-nav .nav-link:hover, .navbar-tq-v1 .navbar-nav .nav-link:focus {
      color: #fe6441; }
    .navbar-tq-v1 .navbar-nav .nav-link.disabled {
      color: rgba(0, 0, 0, 0.3) !important; }
  .navbar-tq-v1 .nav-link-black {
    color: rgba(0, 0, 0, 0.6) !important; }

.navbar-tq-v2 {
  background-color: white; }
  .navbar-tq-v2 .navbar-toggler:focus, .navbar-tq-v2 .navbar-toggler:hover {
    outline: none;
    cursor: pointer; }
  .navbar-tq-v2 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .navbar-tq-v2 .nav-link {
    color: rgba(0, 0, 0, 0.6) !important; }

.slick-carousel-banner-1 .slick-carousel-banner-1-inner {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row; }

.slick-carousel-banner-1 .slick-carousel-banner-1-title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem; }

.slick-carousel-banner-1 .slick-carousel-banner-1-buttons {
  margin-bottom: 1rem; }

.slick-carousel-banner-1 .slick-carousel-banner-1-description {
  max-width: 900px;
  margin-top: 3rem;
  color: rgba(255, 255, 255, 0.7); }

.slick-carousel-banner-1 .slick-dots {
  bottom: 25px !important; }
  .slick-carousel-banner-1 .slick-dots li button:before {
    color: #fff !important;
    font-size: 14px !important; }

@media (max-width: 576px) {
  .slick-carousel-banner-1 .slick-carousel-banner-1-title {
    font-size: 1.25rem;
    text-align: center; }
  .slick-carousel-banner-1 .slick-carousel-banner-1-buttons {
    margin-bottom: 1rem;
    text-align: center; }
    .slick-carousel-banner-1 .slick-carousel-banner-1-buttons > .btn-lg {
      padding: 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.5;
      border-radius: 0.2rem; }
  .slick-carousel-banner-1 .slick-carousel-banner-1-description {
    display: none; } }

.slick-carousel-partner a {
  text-align: center; }

.slick-carousel-partner a img {
  width: 180px;
  display: inline-block; }

.slick-carousel-anli img {
  padding: 0 2rem; }

.slick-carousel-anli .slick-dots li.slick-active button:before {
  color: #fff !important; }

.slick-carousel-anli .slick-dots li button:before {
  color: #fff !important; }

.tq-footer-v1 {
  padding: 3rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.9); }
  .tq-footer-v1 .tq-footer-v1__logo {
    width: 250px; }
  .tq-footer-v1 .tq-footer-v1__social-link {
    margin-top: 1rem;
    text-align: center; }
    .tq-footer-v1 .tq-footer-v1__social-link .list-inline-item {
      margin: 0 8px; }
    .tq-footer-v1 .tq-footer-v1__social-link .list-inline-item > a {
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.6); }
  .tq-footer-v1 .tq-footer-v1__block {
    margin-bottom: 2rem; }
    .tq-footer-v1 .tq-footer-v1__block li {
      text-align: center; }
    .tq-footer-v1 .tq-footer-v1__block li a {
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.9rem; }
  .tq-footer-v1 .tq-footer-v1__block-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.9); }
  .tq-footer-v1 .tq-footer-v1__copy-right {
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .tq-footer-v1 .tq-footer-v1__author {
    color: rgba(255, 255, 255, 0.8); }

.tq-footer-v2 {
  padding: 3em 0 0 0;
  background-color: rgba(0, 0, 0, 0.9); }
  .tq-footer-v2 .tq-footer-v2__block {
    margin-bottom: 2rem; }
    .tq-footer-v2 .tq-footer-v2__block ul > li > a {
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.9rem; }
  .tq-footer-v2 .tq-footer-v2__block__description {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem; }
  .tq-footer-v2 .tq-footer-v2__social-link li {
    margin: 0 8px; }
  .tq-footer-v2 .tq-footer-v2__social-link li:first-of-type {
    margin-left: 0; }
  .tq-footer-v2 .tq-footer-v2__social-link li > a {
    font-size: 1.3rem !important; }
  .tq-footer-v2 .tq-footer-v2__block-title {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.9); }
  .tq-footer-v2 .tq-footer-v2__copy-right {
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem; }
    .tq-footer-v2 .tq-footer-v2__copy-right a {
      color: rgba(255, 255, 255, 0.8); }

/*
  * news posts
  **/
.news-posts {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0; }
  .news-posts .news-posts__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem; }
  .news-posts .news-posts__item-featured-images {
    width: 200px;
    position: relative;
    margin-right: 15px;
    flex-basis: 200px;
    flex-grow: 0; }
  @media (max-width: 576px) {
    .news-posts .news-posts__item-featured-images {
      display: none; } }
  .news-posts .news-posts__item-title {
    display: block;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    font-size: 1.2rem; }
  .news-posts .news-posts__item-info {
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.85rem; }
  .news-posts .new-posts__item-summary {
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1rem; }

/*
 * @
 **/
.news-post {
  background-color: #fff;
  margin-bottom: 1rem; }
  .news-post .news-post__title {
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
    padding: 1rem; }
  .news-post .news-post__info {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.4);
    padding-left: 1rem; }
  .news-post .news-post__content {
    padding: 1rem; }

.news-category-list {
  list-style: none;
  padding: 1rem;
  background-color: #fff; }
  .news-category-list a {
    display: inline-block;
    padding: 3px 0; }
  .news-category-list ul {
    padding-left: 30px; }

.wdzx-section-1 {
  padding: 6rem 0;
  background-color: #f0f0f0; }
  .wdzx-section-1 .container > h3 {
    color: #555;
    text-align: center; }
  .wdzx-section-1 .container > p {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #999;
    text-align: center; }
  .wdzx-section-1 .row .text-center {
    color: #555; }
    .wdzx-section-1 .row .text-center i.fa {
      font-size: 5rem; }
    .wdzx-section-1 .row .text-center p {
      margin: 0;
      padding: 15px 0;
      font-size: 1.2rem; }

.wdzx-section-2 {
  background-color: #BA292E;
  padding: 3rem 0; }
  .wdzx-section-2 .container .text-center {
    color: #fff; }
    .wdzx-section-2 .container .text-center > p {
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.9);
      margin-top: 15px; }

.wdzx-section-3 {
  padding: 6rem 0;
  background-color: #f0f0f0; }
  .wdzx-section-3 .container > h3 {
    color: #555;
    text-align: center; }
  .wdzx-section-3 .container > p {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #999;
    text-align: center; }
  .wdzx-section-3 .row .text-center {
    color: #555; }
    .wdzx-section-3 .row .text-center .fa {
      color: #BA292E; }
    .wdzx-section-3 .row .text-center p {
      font-size: 1.2rem; }

.wdzx-section-4 {
  padding: 3rem 0; }
  .wdzx-section-4 .container > .text-center > h3 > span {
    color: #BA292E; }
  .wdzx-section-4 .steps {
    width: 100%;
    overflow-x: auto; }
    .wdzx-section-4 .steps span {
      display: inline-block;
      padding: 15px;
      border-radius: 5px;
      background-color: #BA292E;
      color: #fff;
      margin: 5px; }

.wdzx-section-5 {
  padding: 6rem 0; }
  .wdzx-section-5 .container .text-center > h3 {
    color: #555;
    text-align: center; }
  .wdzx-section-5 .container .text-center > p {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #999;
    text-align: center; }
  .wdzx-section-5 .row img {
    box-shadow: 5px 5px 10px #888; }

.o2o-section-1 {
  padding: 6rem 0; }

.o2o-section-2 {
  padding: 6rem 0;
  background-image: url("/themes/bs4/assets/images/bg/intersection.png");
  background-size: contain;
  background-position: center; }
  .o2o-section-2 .item {
    text-align: center; }
    .o2o-section-2 .item .counter {
      width: 130px;
      height: 130px;
      padding: 28px;
      position: relative;
      text-align: center;
      display: inline-block;
      border-radius: 50% !important;
      background: rgba(0, 0, 0, 0.6);
      opacity: 0.8;
      border: 3px solid #fff;
      font-size: 40px;
      font-weight: bold;
      color: #fff; }
    .o2o-section-2 .item p {
      margin-top: 1rem;
      color: rgba(0, 0, 0, 0.6); }

.o2o-section-3 {
  padding: 6rem 0;
  border-bottom: 1px solid #eee; }
  .o2o-section-3 .item {
    text-align: center;
    color: rgba(0, 0, 0, 0.6); }
    .o2o-section-3 .item > i {
      font-size: 5rem; }

.o2o-section-4 {
  padding: 6rem 0;
  background-color: #f7f7f7; }
  .o2o-section-4 .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 10px 15px;
    min-height: 10rem;
    margin-bottom: 15px; }
  .o2o-section-4 .item__icons {
    width: 45px;
    height: 52px;
    background-size: cover;
    background-repeat: no-repeat;
    flex-grow: 0;
    flex-shrink: 0; }
  .o2o-section-4 .item__des {
    margin-left: 15px; }
  .o2o-section-4 .item__icons1 {
    background-image: url("/themes/bs4/assets/images/o2o/yx01.png"); }
  .o2o-section-4 .item__icons2 {
    background-image: url("/themes/bs4/assets/images/o2o/yx02.png"); }
  .o2o-section-4 .item__icons3 {
    background-image: url("/themes/bs4/assets/images/o2o/yx03.png"); }
  .o2o-section-4 .item__icons4 {
    background-image: url("/themes/bs4/assets/images/o2o/yx04.png"); }
  .o2o-section-4 .item__icons5 {
    background-image: url("/themes/bs4/assets/images/o2o/yx05.png"); }
  .o2o-section-4 .item__icons6 {
    background-image: url("/themes/bs4/assets/images/o2o/yx06.png"); }
  .o2o-section-4 .item__icons7 {
    background-image: url("/themes/bs4/assets/images/o2o/yx07.png"); }
  .o2o-section-4 .item__icons8 {
    background-image: url("/themes/bs4/assets/images/o2o/yx08.png"); }

.game-section-1 {
  padding: 6rem 0; }
  .game-section-1 .item {
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 1rem; }
  .game-section-1 .item1 {
    background-image: url("/themes/bs4/assets/images/game/yy.jpg"); }
  .game-section-1 .item2 {
    background-image: url("/themes/bs4/assets/images/game/sy.jpg"); }
  .game-section-1 .item3 {
    background-image: url("/themes/bs4/assets/images/game/yl.jpg"); }

.game-section-2 {
  padding: 6rem 0;
  background-color: #f7f7f7; }
  .game-section-2 .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    min-height: 10rem; }
  .game-section-2 .item__icon {
    font-size: 4rem;
    color: #fe6441; }
  .game-section-2 .item__des {
    margin-left: 1rem; }

.dsyy-section-1 {
  padding: 6rem 0; }
  .dsyy-section-1 .item > i {
    font-size: 6rem;
    color: rgba(0, 0, 0, 0.6); }
  .dsyy-section-1 .item p {
    color: #868e96; }

.dsyy-section-2 {
  padding: 6rem 0;
  background-color: #f7f7f7; }
  .dsyy-section-2 .row img {
    margin-bottom: 1rem; }

.dsyy-section-3 {
  padding: 6rem 0; }
  .dsyy-section-3 .item {
    margin-bottom: 1rem;
    text-align: center; }
    .dsyy-section-3 .item > i {
      font-size: 6rem;
      color: rgba(0, 0, 0, 0.6); }

.dsyy-section-4 {
  background-image: url("/themes/bs4/assets/images/bg/bg16.png");
  background-size: cover;
  background-position: center;
  padding: 6rem 0; }
  .dsyy-section-4 .container {
    color: #fff; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuLi9zdHlsZXMvY3NzL2FwcC5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/