/*
|--------------------------------------------------------------------------
| app
|--------------------------------------------------------------------------
|
| Created by puguohong on 09/10/2017.
| 
|
*/
/*
 * variables
 **/
/*
 * utils
 **/
.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.bg-white {
  background-color: white !important; }

.bg-f7f7f7 {
  background-color: #f7f7f7 !important; }

.height-100vh {
  height: 80vh; }

.bg-img-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.bg-overlay {
  position: relative; }
  .bg-overlay:before, .bg-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .bg-overlay:after {
    background-color: rgba(0, 0, 0, 0.5) !important; }

.card--no-border {
  border: none !important;
  border-radius: 0 !important; }
  .card--no-border img.card-img-top {
    border-radius: 0 !important; }

.slick-carousel-partner a {
  text-align: center; }

.slick-carousel-partner a img {
  width: 180px;
  display: inline-block; }

/*
 * navbar
 **/
.navbar-tq {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
  transition: all 0.5s ease 0s; }
  .navbar-tq .navbar-toggler {
    border-color: #fe6441; }
    .navbar-tq .navbar-toggler:focus, .navbar-tq .navbar-toggler:hover {
      outline: none;
      cursor: pointer; }
  .navbar-tq .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fe6441' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }
  .navbar-tq .navbar-nav .nav-link {
    color: white; }
    .navbar-tq .navbar-nav .nav-link:hover, .navbar-tq .navbar-nav .nav-link:focus {
      color: #fe6441; }
    .navbar-tq .navbar-nav .nav-link.disabled {
      color: rgba(0, 0, 0, 0.3) !important; }
  .navbar-tq .navbar-nav .show > .nav-link,
  .navbar-tq .navbar-nav .active > .nav-link,
  .navbar-tq .navbar-nav .nav-link.show,
  .navbar-tq .navbar-nav .nav-link.active {
    color: #fe6441; }

.slick-carousel-banner-1 .slick-carousel-banner-1-inner {
  position: relative;
  z-index: 3;
  min-height: 600px;
  display: flex;
  align-items: center;
  flex-direction: row; }

.slick-carousel-banner-1 .slick-carousel-banner-1-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 2rem; }

.slick-carousel-banner-1 .slick-carousel-banner-1-buttons {
  margin-bottom: 2rem; }

.slick-carousel-banner-1 .slick-carousel-banner-1-description {
  max-width: 900px;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.8); }

.slick-carousel-banner-1 .slick-dots {
  bottom: 25px !important; }
  .slick-carousel-banner-1 .slick-dots li button:before {
    color: #fff !important;
    font-size: 14px !important; }

@media (max-width: 576px) {
  .d-hidden-sm {
    display: none !important; } }

.nav-link-black {
  color: rgba(0, 0, 0, 0.6) !important; }

.tq-footer-v1 {
  padding: 3rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.9); }
  .tq-footer-v1 .tq-footer-v1__logo {
    width: 250px; }
  .tq-footer-v1 .tq-footer-v1__social-link {
    margin-top: 1rem;
    text-align: center; }
    .tq-footer-v1 .tq-footer-v1__social-link .list-inline-item {
      margin: 0 8px; }
    .tq-footer-v1 .tq-footer-v1__social-link .list-inline-item > a {
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.6); }
  .tq-footer-v1 .tq-footer-v1__block {
    margin-bottom: 2rem; }
    .tq-footer-v1 .tq-footer-v1__block li {
      text-align: center; }
    .tq-footer-v1 .tq-footer-v1__block li a {
      color: rgba(255, 255, 255, 0.8);
      font-size: 0.9rem; }
  .tq-footer-v1 .tq-footer-v1__block-title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.9); }
  .tq-footer-v1 .tq-footer-v1__copy-right {
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2); }
  .tq-footer-v1 .tq-footer-v1__author {
    color: rgba(255, 255, 255, 0.8); }

.tq-footer-v2 {
  padding: 3em 0 0 0;
  background-color: rgba(0, 0, 0, 0.9); }
  .tq-footer-v2 .tq-footer-v2__block {
    margin-bottom: 2rem; }
    .tq-footer-v2 .tq-footer-v2__block ul > li > a {
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.9rem; }
  .tq-footer-v2 .tq-footer-v2__block__description {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem; }
  .tq-footer-v2 .tq-footer-v2__social-link li {
    margin: 0 8px; }
  .tq-footer-v2 .tq-footer-v2__social-link li:first-of-type {
    margin-left: 0; }
  .tq-footer-v2 .tq-footer-v2__social-link li > a {
    font-size: 1.3rem !important; }
  .tq-footer-v2 .tq-footer-v2__block-title {
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 2rem;
    color: rgba(255, 255, 255, 0.9); }
  .tq-footer-v2 .tq-footer-v2__copy-right {
    padding: 1rem 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 0.9rem; }
    .tq-footer-v2 .tq-footer-v2__copy-right a {
      color: rgba(255, 255, 255, 0.8); }

body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", arial, Tahoma, SimSun, sans-serif; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiIuLi9zdHlsZXMvY3NzL2FwcC5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/