@charset "UTF-8";
/*nav {
  box-shadow: 0 0 3px #b5b5b5;
  background: #0069d9;
  //background: #167BC9;
}*/
/*.pcontent_left {
  background: #0f0f0f;
  box-shadow: 0 0 30px #3ab516;
}*/
.footer-tianqi {
  background: #0f0f0f !important;
  padding: 50px 0; }
  .footer-tianqi .copyright {
    color: #ffffff; }

.carousel .carousel-indicators .active {
  background-color: #328DF9; }

.advantage {
  background: #ffffff; }
  .advantage .advantage-body img {
    max-width: 100%; }
  .advantage .business .items .des {
    background: url(../images/bg_green.png) no-repeat 0 400px;
    overflow: hidden;
    display: inline-block; }
    .advantage .business .items .des strong {
      display: block;
      margin-top: 70px;
      font-size: 16px;
      font-weight: normal;
      text-align: center; }
    .advantage .business .items .des u {
      display: block;
      position: absolute;
      width: 156px;
      height: 156px;
      margin-left: 22px;
      background: url(../images/words.png) no-repeat 0px -363px;
      -webkit-transition: all .5s ease-in-out 0s;
      -o-transition: all .5s ease-in-out 0s;
      transition: all .5s ease-in-out 0s; }
    .advantage .business .items .des u.cl {
      clip: rect(0px, 156px, -10px, 78px); }
    .advantage .business .items .des u.cr {
      clip: rect(156px, 78px, 156px, 0px); }
    .advantage .business .items .des p {
      position: relative;
      top: 200px;
      color: White;
      font-family: Arial, "宋体";
      font-size: 12px;
      line-height: 20px;
      text-align: center; }
  .advantage .business .items .des:hover {
    background-position: 0 0;
    -webkit-transition: all .5s ease-in-out .3s;
    -o-transition: all .5s ease-in-out .3s;
    transition: all .5s ease-in-out .3s; }
    .advantage .business .items .des:hover u.cl {
      clip: rect(0px, 156px, -10px, 78px); }
    .advantage .business .items .des:hover u.cr {
      clip: rect(156px, 78px, 156px, 0px); }
    .advantage .business .items .des:hover strong {
      color: White;
      -webkit-transition-delay: .4s;
      -o-transition-delay: .4s;
      transition-delay: .4s; }
    .advantage .business .items .des:hover p {
      top: 20px;
      -webkit-transition: all .3s ease-in-out .5s;
      -o-transition: all .3s ease-in-out .5s;
      transition: all .3s ease-in-out .5s; }
  .advantage .active .items .des u.cl {
    clip: rect(0px, 156px, 156px, 78px); }
  .advantage .active .items .des u.cr {
    clip: rect(0px, 78px, 156px, 0px); }

body {
  background: #f0f0f0; }

.heading-v14 {
  text-align: center; }
  .heading-v14 .heading-v14__block-name {
    color: #328DF9;
    font-weight: 600; }
  .heading-v14 .heading-v14__title {
    font-weight: 600; }
  .heading-v14 .heading-v14__text {
    color: #999; }

.heading-v14-1 {
  color: #ffffff; }
  .heading-v14-1 .heading-v14--diff {
    color: #ffffff; }

@media (min-width: 992px) {
  .article-nav #mainNav.navbar-shrink {
    background-color: rgba(60, 147, 249, 0.86); } }

.masthead-v1 {
  background: url("../../images/article/a.jpg"); }

.article .article-left .tab-v1 .nav li {
  text-align: center; }
  .article .article-left .tab-v1 .nav li a {
    width: 60px;
    font-size: 18px;
    color: #1d2124;
    text-decoration: none;
    border: none;
    display: block; }
  .article .article-left .tab-v1 .nav li a:hover {
    text-decoration: none; }
  .article .article-left .tab-v1 .nav li .active {
    background: #ff4400;
    color: #ffffff; }

.article .article-left .tab-v1 .nav-tabs {
  border-bottom: 1px solid #ff4400; }

.article .article-left .tab-v1 .tab-content .article-list .media-article-list:last-child {
  border-bottom: 0; }

.article .article-left .tab-v1 .tab-content .article-list .media-article-list {
  border-bottom: 1px solid #ddd;
  padding: 15px 0; }
  .article .article-left .tab-v1 .tab-content .article-list .media-article-list .media-left {
    padding-right: 25px; }
    .article .article-left .tab-v1 .tab-content .article-list .media-article-list .media-left > img {
      width: 150px;
      height: 115px; }
  .article .article-left .tab-v1 .tab-content .article-list .media-article-list .media-body {
    height: 120px;
    overflow: hidden; }
    .article .article-left .tab-v1 .tab-content .article-list .media-article-list .media-body .media-heading {
      font-size: 1.2em;
      font-weight: bold;
      color: #333; }
    .article .article-left .tab-v1 .tab-content .article-list .media-article-list .media-body p {
      color: #555;
      text-align: left;
      margin-bottom: 0; }
    .article .article-left .tab-v1 .tab-content .article-list .media-article-list .media-body p:last-child {
      margin-top: 10px;
      font-size: 14px;
      text-indent: 2em; }
    .article .article-left .tab-v1 .tab-content .article-list .media-article-list .media-body .time {
      color: #888; }
    .article .article-left .tab-v1 .tab-content .article-list .media-article-list .media-body .keywords {
      color: #888;
      padding: 0 15px; }

@media (max-width: 480px) {
  .article .article-left .tab-v1 .tab-content .article-list .hidden-xxs {
    display: none !important; } }

.article .article-right .panel {
  background: none;
  border-top: 0;
  border-left: 0;
  border-right: 0; }
  .article .article-right .panel .list-group-item {
    background: none; }
    .article .article-right .panel .list-group-item a {
      text-decoration: none;
      color: #0f0f0f; }
    .article .article-right .panel .list-group-item a:hover {
      color: #ff4400; }

.article-content .article-body {
  -webkit-box-shadow: 1px 1px 4px 1px #d7d7d7;
  box-shadow: 1px 1px 4px 1px #d7d7d7;
  padding: 25px;
  background: #f2f2f2; }
  .article-content .article-body #ctrlfscont > p {
    line-height: 35px;
    text-indent: 2em; }
  .article-content .article-body #ctrlfscont > #moreread > ul li {
    line-height: 35px; }
  .article-content .article-body img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }
  .article-content .article-body .title {
    font-size: 1.8em;
    font-weight: bold;
    padding: 15px 0;
    text-align: center; }
  .article-content .article-body .info {
    color: #888;
    text-align: center; }
    .article-content .article-body .info .from {
      padding: 0 15px; }

.article-content .article-right .panel {
  -webkit-box-shadow: 1px 1px 4px 1px #d7d7d7;
  box-shadow: 1px 1px 4px 1px #d7d7d7; }

.tbdp {
  padding: 100px 0 !important; }
  .tbdp .Solution-home .home-headline .narrate {
    color: #c0c0c0; }
  .tbdp .Solution-home .home-body ul li {
    line-height: 40px;
    list-style-type: none;
    font-size: 20px; }
    .tbdp .Solution-home .home-body ul li i {
      font-size: 24px; }
  .tbdp .Solution-home .home-body ul li:hover {
    color: #ff4400;
    cursor: pointer; }
  .tbdp .Solution-home .home-char .char-title {
    padding: 15px;
    background: #328DF9;
    color: #ffffff;
    border-bottom-left-radius: 40%;
    border-top-right-radius: 40%;
    -webkit-box-shadow: 0 0 1px 0 #000;
    box-shadow: 0 0 1px 0 #000; }
  .tbdp .Solution-home .home-char .char-state p {
    color: #0f0f0f; }
  .tbdp .Solution .Solution-headline p {
    color: #0f0f0f; }

.farm-nav .navbar-nav .nav-item .nav-link {
  color: #2bb503 !important; }

.farm-nav .navbar-nav .nav-item .nav-link.active, .farm-nav #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #fe6441 !important; }

#problem .problem-body .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }
  #problem .problem-body .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate(460px, -100px) rotate(180deg);
    -ms-transform: translate(460px, -100px) rotate(180deg);
    transform: translate(460px, -100px) rotate(180deg);
    -webkit-transition: all 0.4s 0.4s ease-in-out;
    -o-transition: all 0.4s 0.4s ease-in-out;
    transition: all 0.4s 0.4s ease-in-out; }
    #problem .problem-body .hovereffect .overlay h2 {
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      position: relative;
      font-size: 17px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.6); }
    #problem .problem-body .hovereffect .overlay a.info {
      display: inline-block;
      color: #fff;
      border: 1px solid #fff;
      margin: 50px 0 0 0;
      padding: 10px 50px;
      overflow: hidden;
      background-color: transparent;
      -webkit-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
      transform: translateY(-200px);
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
    @media (max-width: 480px) {
      #problem .problem-body .hovereffect .overlay a.info {
        margin: 30px 0 0 0;
        padding: 12px 50px;
        height: 90px;
        word-break: break-all;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        /** 将对象作为伸缩盒子模型显示 **/
        -webkit-box-orient: vertical;
        /** 设置或检索伸缩盒对象的子元素的排列方式 **/
        -webkit-line-clamp: 3;
        /** 显示的行数 **/
        overflow: hidden;
        /** 隐藏超出的内容 **/ } }
    #problem .problem-body .hovereffect .overlay a.info:hover {
      -webkit-box-shadow: 0 0 5px #fff;
      box-shadow: 0 0 5px #fff; }
  #problem .problem-body .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 4s ease-in;
    -o-transition: all 4s ease-in;
    transition: all 4s ease-in;
    max-width: 100%; }

#problem .problem-body .hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

#problem .problem-body .hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s; }

#problem .problem-body .hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s; }

#shangji {
  background: #00a65a;
  background: -webkit-gradient(linear, left top, right top, from(#00da76), color-stop(#008146), to(#00da76));
  background: -o-linear-gradient(left, #00da76, #008146, #00da76);
  background: linear-gradient(to right, #00da76, #008146, #00da76);
  color: white; }
  #shangji .shangji-body .img-responsive {
    max-width: 100%; }

#solutions-farm {
  padding: 100px 0; }
