body {
  background: #f0f0f0;
}

.heading-v14 {
  text-align: center;
  .heading-v14__block-name{
    color: #328DF9;
    font-weight: 600;
  }
  .heading-v14__title {
   // color: #328DF9;
    font-weight: 600;

  }
  .heading-v14__text{
    color: #999;
  }
}

.heading-v14-1{
  color: #ffffff;
  .heading-v14--diff{
    color: #ffffff;
  }
}
.masthead-1{
  height: auto!important;
}

