.tq-footer-v1{
    padding:3rem 0 0 0;
    background-color: rgba(0,0,0,0.9);
    .tq-footer-v1__logo{
        width:250px;
    }
    .tq-footer-v1__social-link{
        margin-top:1rem;
        text-align: center;
        .list-inline-item{
            margin:0 8px;
        }
        .list-inline-item > a{
            font-size: 1.2rem;
            color:rgba(255,255,255,0.6);
        }
    }
    .tq-footer-v1__description{

    }
    .tq-footer-v1__block{
        margin-bottom: 2rem;
        li{
            text-align: center;
        }
        li a{
            color:rgba(255,255,255,0.8);
            font-size: 0.9rem;
        }
    }
    .tq-footer-v1__block-title{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color:rgba(255,255,255,0.9)
    }

    .tq-footer-v1__copy-right{
        padding: 1rem 0;
        border-top:1px solid rgba(255,255,255,0.2);
    }
    .tq-footer-v1__author{
        color:rgba(255,255,255,0.8);
    }
}
.tq-footer-v2{
    padding:3em 0 0 0;
    background-color: rgba(0,0,0,0.9);

    .tq-footer-v2__block{
        margin-bottom: 2rem;
    }
    .tq-footer-v2__block-title{
        //text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        color:rgba(255,255,255,0.9)
    }
    .tq-footer-v2__copy-right{
        padding: 1rem 0;
        border-top:1px solid rgba(255,255,255,0.1);
        font-size: 0.9rem;
    }
}