/*
 * @
 **/

.news-post {
    background-color: #fff;
    margin-bottom: 1rem;
    .news-post__title {
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 0.8);
        padding: 1rem;
    }
    .news-post__info {
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.4);
        padding-left: 1rem;
        > a {
           // color: rgba(0, 0, 0, 0.6);
        }
    }

    .news-post__content {
        padding: 1rem;
    }
}
