/*
  * news posts
  **/

.news-posts {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;

    .news-posts__item {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
    }

    .news-posts__item-featured-images {
        width:200px;
        position: relative;
        margin-right: 15px;
        flex-basis: 200px;
        flex-grow: 0;
    }

    @media (max-width: $sm){
        .news-posts__item-featured-images{
            display: none;
        }
    }

    .news-posts__item-title {
        display: block;
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    .news-posts__item-info{
        color: rgba(0, 0, 0, 0.4);
        font-size: 0.85rem;
        margin-bottom: 0.5rem;
        a{
            color:rgba(0,0,0,0.8);
        }
    }
    .new-posts__item-summary {
        color: rgba(0, 0, 0, 0.6);
        font-size: 1rem;
    }
}


