
.wdzx-section-1 {
    padding: 6rem 0;
    background-color: #f0f0f0;
    .container {
        > h3 {
            color: #555;
            text-align: center;

        }


        > p {
            margin-top: 15px;
            font-size: 1.2rem;
            color: #999;
            text-align: center;
        }
    }

    .row .text-center {
        color: #555;
        i.fa {
            font-size: 5rem;
        }
        p {
            margin: 0;
            padding: 15px 0;
            font-size: 1.2rem;
        }
    }
}

.wdzx-section-2 {
    background-color: #BA292E;
    padding: 3rem 0;
    .container .text-center {
        color: #fff;
        > h3 {
            //
        }
        > p {
            font-size: 1.2rem;
            color: rgba(255, 255, 255, 0.9);
            margin-top: 15px;
        }
    }
}

.wdzx-section-3 {
    padding: 6rem 0;
    background-color: #f0f0f0;
    .container {
        > h3 {
            color: #555;
            text-align: center;
        }
        > p {
            margin-top: 15px;
            font-size: 1.2rem;
            color: #999;
            text-align: center;
        }
    }

    .row .text-center {
        color: #555;
        .fa {
            color: #BA292E
        }
        p {
            font-size: 1.2rem;
        }
    }
}

.wdzx-section-4 {
    padding: 3rem 0;
    .container > .text-center > h3 > span {
        color: #BA292E;
    }
    .steps {
        width: 100%;
        overflow-x: auto;
        span {
            display: inline-block;
            padding: 15px;
            border-radius: 5px;
            background-color: #BA292E;
            color: #fff;
            margin: 5px;
        }
    }
}

.wdzx-section-5 {
    padding: 6rem 0;
  //  background-color: #f0f0f0;
    .container .text-center {
        > h3 {
            color: #555;
            text-align: center;
        }
        > p {
            margin-top: 15px;
            font-size: 1.2rem;
            color: #999;
            text-align: center;
        }
    }
    .row img{
        box-shadow: 5px 5px 10px #888;
    }
}
