@charset "UTF-8";
/*
|--------------------------------------------------------------------------
| app
|--------------------------------------------------------------------------
|
| Created by puguohong on 09/10/2017.
| 
|
*/
// @import "~bootstrap/scss/bootstrap.scss";
@import "functions";
@import "variables";
@import "utils";
@import "navbar";
@import "banner";

.slick-carousel-partner {
    a{
        text-align: center;
    }
    a img {
        width:180px;
        display: inline-block;
    }
}